.req-cmnt{
    width: 100%;
    margin: 50px auto;
    position: relative;
    float: left;
}

.rc-container{
    width: 980px;
    margin: 0px auto;
}

.cmnt-desp-container{
    width: 82%;
    margin: 50px auto 0;
    position: relative;
}
.cmnt-desp-inr{
    width: 100%;
    margin: 0 auto;
    position: relative;
}

.cmnt-desp-inr h2{
    color: gray;
    letter-spacing: 1px;
    font-weight: 600;
    margin: 15px auto;
    font-size: 23px;
}

.cmnt-desp-inr p{
    color: rgb(175, 173, 173);
    letter-spacing: 1px;
    font-weight: 100;
    margin: 0 auto;
    width: 100%;

}

.cmnt-desp-container hr{
    border-top: 2px solid rgba(0,0,0,.1);
}

.cmnt-drpdwn-div{
    width: 100%;
    margin: 30px auto 0;
}

.form-containter h5{
    color: gray;
}


.request-row{
    width: 100%;
}

.select-form{
    width: 22%;
    height: 35px;
    margin-right: 10px;
    text-align: center;
    border-color: rgb(175, 173, 173);
    border-radius: 10px;
    border-width: 2px;
    color: rgb(175, 173, 173);
    text-align-last: center;
}

.select-form:focus{
    outline: none;
}

.text-form{
    width: 75%;
    margin-left: 10px;
    height: 35px;
    border-color: rgb(175, 173, 173);
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    color: rgb(175, 173, 173);
    padding-left: 15px;
    padding-right: 15px;
}

.text-form:focus{
    outline: none;
}

.text-form::placeholder{
    color: rgb(175, 173, 173);
}

.form-block{
    margin-bottom: 35px;
}

.rc-text{
    width: 100%;
    height: 200px;
    border-style: none;
    background-color: rgb(175, 173, 173);
    padding: 20px;

}