.resetpassword-container{
    width: 355px;
    margin: 0 auto;
    padding-bottom: 200px;
    /* float: left; */
    position: relative;
    top: 10px;
    display: table;
    height: 100%;
    overflow-y: hidden;
    
}

.resetpassword-banner {
    width: 100%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.resetpassword-text {
    width: 100%;
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
}

.resetpassword-new-password {
    margin-bottom: 10px;
}

.resetpassword-new-password-text {
   font-size: 13px; 
}

.resetpassword-new-password-condition {
    font-size: 13px;
    color: gray;
}

.resetpassword-input-box {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 360px;
    height: 60px;
    border: 0.7px solid rgba(218, 218, 218, 0.5);
    
}

.resetpassword-new-password-input {
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 10px;
}
.resetpassword-input-box.same {
    border: 0.7px solid green;
}

.resetpassword-input-box.diff {
    border: 0.7px solid red;
}

.resetpassword-message-container.same {
    font-size: 13px;
    color: green;
    margin-bottom: 10px;
}

.resetpassword-message-container.diff {
    font-size: 13px;
    color: red;
    margin-bottom: 10px;
}
.resetpassword-password-check {
    font-size: 13px;
    margin-bottom: 10px;
}

.resetpassword-button {
    width: 360px;
    height: 60px;
    margin-left: auto;
    margin-right: auto;
}

.resetpassword-submit {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    background-color: #32b8a4;
    border: 0px;
    cursor: pointer;
    margin-left: auto;
    margin-right: auto;
}
