.findpassword-container{
    width: 355px;
    margin: 0 auto;
    padding-bottom: 200px;
    /* float: left; */
    position: relative;
    top: 10px;
    display: table;
    height: 100%;
    overflow-y: hidden;
    
}

img.findpassword-banner-image {
    width: 100%;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 35px;
}

.findpassword-text {
    width: 100%;
    font-size: 17px;
    text-align: center;
    margin-bottom: 15px;
}

.findpassword-info {
    width: 100%;
    font-size: 11px;
    color: gray;
    text-align: center;
    margin-bottom: 40px;
}

.findpassword-email-input {
    width: 320px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
    font-size: 15px;
    margin-bottom: 15px;
    border: 0.7px solid rgba(218, 218, 218, 0.5);
}

.findpassword-email-input input {
    width: 100%;
    height: 100%;
    border: 0;
    padding-left: 10px;
}

.findpassword-email-submit {
    width: 320px;
    height: 60px;
    margin-right: auto;
    margin-left: auto;
}
.findpassword-email-submit button {
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
    background-color: #32b8a4;
    border: 0px;
    cursor: pointer;
}