.login-container{
    width: 100%;
    margin: 0 auto;
    padding-bottom: 200px;
    /* float: left; */
    position: relative;
    top: 10px;
    display: table;
    height: 100%;
    overflow-y: hidden;
    
}

img.login-banner-image {
    width: 355px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.login-info {
    margin-top: 10px;
    font-size: 11px;
    text-align: center;
    font-weight: lighter;
    color: rgb(146, 145, 145)
}