.modal-box{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 400px;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: .3rem;
    outline: 0;
}

.modal-custom.modal-dialog.modal-dialog-centered{
    width: 20%;
    margin: 0 auto;
}

.modal-custom-header.modal-header{
    display: block;
    /* padding-bottom: 0; */
}
.modal-custom-header.modal-header img{
    float: left;
    width: 60px;
    height: 60px;
}

.modal-custom-header.modal-header button{
    width: 60px;
    height: 60px;
    font-size: 60px;
    background: none;
    padding: 0;
    line-height: 0;
    top: -15px;
    right: 15px;
}

.modal-custom-header.modal-header h5{
    color: gray;
    text-align: center;
    display: block;
    width: 100%;
    margin: 0 auto;
    float: left;
    font-size: 17px;
    letter-spacing: 1px;
}

.modal-custom-header.modal-header p{
    display: block;
    width: 80%;
    text-align: center;
    margin: 0 auto;
    float: left;
    font-size: 14px;
    letter-spacing: 1px;
    color: #7d7d7d;
}

.btn{
    position: relative;
    top: -50px;
}

p.modal-para{
    font-size: 14px;
    color: gray;
    background-color: #f7f7f7;
    padding: 10px 20px;
    letter-spacing: 1px;
    color: #7d7d7d;
    margin-bottom: 0;
    text-align: center;

}
.popup-icon-detail{
    text-align: center;
    width: 100%;
    margin: 0 auto 10px;
}

.popup-icon-detail img{
    width: 65px;
    height: 65px;
    margin-top: 20px;
}

.popup-icon-detail img.cosmetic-grade-icon {
    width: 103px;
    height: 65px;
    margin-top: 20px;
}

.popup-icon-detail p{
    color: #7d7d7d;
    margin-top: 5px;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
}

.popup-icon-detail{
    text-align: center;
    width: 100%;
    margin: 0 auto 10px;
}

.popup-icon-detail p{
    color: #7d7d7d;
    margin-top: 5px;
    margin-bottom: 0;
    letter-spacing: 1px;
    font-size: 14px;
    font-weight: 600;
}

p.popup-ingr-para{
    color: #bbbbbb;
    font-weight: 500;
    margin-bottom: 20px;
}

.modal-custom-body.modal-body{
    padding: 0;
}

.popup-icon-level{
    width: 100%;
    padding: 10px 15px;
}

.popup-icon-level.middle {
    text-align: center;
}

.popup-icon-level img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
    margin-left: 10px;
    display: inline-block;
    vertical-align: middle;
}

.popup-icon-level > span {
    text-align: left;
    display: inline-block;
    width: 200px;
    margin-left: 20px;
    vertical-align: middle;
}

.popup-icon-level div {
    display: inline-block;
    width: 300px;
    vertical-align: middle;
}

.popup-icon-level h6 {
    width: 86px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
}

.popup-icon-level p{
    display: inline-block;
    font-size: 1rem;
    padding-left: 10px;
    letter-spacing: 1px;
}

.popup-result{
    width: 100%;
    padding: 10px 15px;
    text-align: center;
}

.modal-header-title {
    width: 250px;
    margin: 0 auto;
}

.modal-caution-container {
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-caution-container.end {
    margin-top: 20px;
    margin-bottom: 20px;
}

.modal-caution-container > h5 {
    text-align: center;
}

