.prod-spec {
    width: 55%;
    overflow: hidden;
    margin: 20px auto;
}

.cate-header {
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    font-weight: 300;
    color: gray;
    padding-left: 100px;
}

.prod-info {
    width: 100%;
    position: relative;
}

.color-box {
    width: 980px;
    height: 110px;
    background-color: rgba(50, 184, 164, 0.05);
    margin: auto;
}

.prod-outer-img {
    width: 260px;
    height: 260px;
    background-color: white;
    position: relative;
    top: -80px;
    left: 120px;
    box-shadow: 2px 2px 8px -3px gray;
}

.prod-img {
    width: 200px;
    height: 200px;
    background-color: white;
    object-fit: contain;
    position: absolute;
    top: 30px;
    left: 30px;
}