.prod-spec {
    width: 980px;
    overflow: hidden;
    margin: 20px auto;
}

.cate-header {
    height: 40px;
    line-height: 40px;
    font-size: 10px;
    font-weight: 300;
    color: gray;
    padding-left: 100px;
}

.prod-info {
    width: 100%;
    position: relative;
    margin-bottom: 75px;
}

.color-box {
    width: 980px;
    height: 110px;
    background-color: rgba(50, 184, 164, 0.05);
    margin: auto;
}

.prod-outer-img {
    width: 260px;
    height: 260px;
    background-color: white;
    margin-top: -10%;
    margin-left: 8%;
    box-shadow: 2px 2px 8px -3px gray;
}

.prod-img {
    width: 200px;
    height: 200px;
    background-color: white;
    object-fit: contain;
    margin-top: 30px;
    margin-left: 30px;
}

.prod-texts {
    background-color: rgba(255, 255, 255, 0); 
    width: 480px;
    margin-left: 42%;
    margin-top: -27%;
}

.brand-name {
    font-size: 11px;
    color: gray;
    text-decoration: underline;
    margin-bottom: 5px;
}

.prod-name {
    font-size: 20px;
    font-weight: 800;
    width: 480px;
    height: 90px;
}

.rating-info {
    width: 480px;
    height: 60px;
    margin-bottom: 10px;
}

.rating-stars {
    width: 100px;
    height: 60px;
    margin-top: 0px;
    margin-left: 5px;
    float: left;
    padding-top: 10px;
}

.rating-participants {
    width: 100px;
    margin-top: 5px;
    color: gray;
}

.rating-score {
    width: 60px;
    height: 60px;
    margin-left: 10px;
    font-size: 40px;
    font-weight: 300;
    font-style: italic;
    float: left;
}

.icons-list {
    width: 480px;
    height: 75px;
}

.icon {
    width: 75px;
    height: 75px;
    font-size: 35px;
    color: gray;
    float: left;
    padding: auto;
    vertical-align: middle;
    text-align: center;
}

.prod-table {
    width: 480px;
    height: 220px;
    font-size: 13px;
    color: black;
    border-top: 1px solid rgba(100, 100, 100, 0.2);
    border-bottom: 1px solid rgba(100, 100, 100, 0.2);
    border-width: 1px;
    vertical-align: middle;
}

.sub-sell {
    display: flex;
    align-items: center;
}

.img-in-table {
    width: 100px;
    height: 60px;
    float: left;
    line-height: 60px;
    text-align: center;
}

.text-in-table {
    float: left;
    font-size: 11px;
    line-height: 60px;
}

.req-button {
    width: 95px;
    height: 33px;
    border: 1px solid #32b8a4;
    float: right;
    color: #32b8a4;
    font-size: 10px;
    background-color: rgba(255, 255, 255, 0);
    margin-top: 13.5px;
    margin-bottom: 13.5px;
    margin-right: 5px;
}

.description-list {
    width: 480px;
    font-size: 10px;
    color: gray;
    line-height: 20px;
    padding-left: 20px;
}

.outer-tap {
    width: 980px;
    height: 500px;
    background: rgba(120, 120, 120, 0.2);
}