
.loggedin{
    width: 100%;
    height: 70vh;
    margin: 15vh auto;
    position: relative;
}

.help-row{
    margin: 5vh auto;
    width: 980px;
    height: 40vh;
    
}

.ingr-anchor{
    width: 300px;
    height: 50px;
}


.ingr-anly{
    width: 280px;
    height: 130px;
    position: relative;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: 2px solid gray;
    border-radius: 5px;
    padding: 45px 0px;
    margin-left: 23px;
    margin-right: 23px;
    margin-top: 13vh;
}

.inr-ingr h2{
    color: gray;
    letter-spacing: 1px;
    font-size: 28px;
    font-weight: 900;
}

.ingr-anly:hover, .ingr-anly:hover h2, .ingr-anly:hover p{
    border-color: #32b8a4;
    color: #32b8a4;
}







