@font-face {
    font-family: Design House OTF;
    src: url('../../../../../font/designhouseOTFBold.otf');
}




.loggedin{
    width: 100%;
    height: 70vh;
    margin: 15vh auto;
    position: relative;
}

.help-row{
    margin: 5vh auto;
    width: 980px;
    height: 40vh;
    
}

.ingr-anchor{
    width: 300px;
    height: 50px;
}


.ingr-anly{
    width: 260px;
    height: 115px;
    position: relative;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    border: 2.5px solid #DADADA;
    border-radius: 10px;
    padding: 45px 0px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 13vh;
}

.inr-ingr h2{
    color: gray;
    letter-spacing: 1px;
    font-size: 25px;
    font-weight: 900;
    font-family: Design House OTF;
}

.ingr-anly:hover, .ingr-anly:hover h2, .ingr-anly:hover p{
    border-color: #32b8a4;
    color: #32b8a4;
}







