.about-container {
    width: 980px;
    margin: 10px auto;
    min-height: 10px;
    overflow: hidden;
}

.about-content {
    width: 100%;
    height: 5500px;
    min-height: 10px;
    overflow: hidden;
    margin: 20px 0px;
    background-image: url("../../../../assets/images/about.png");
    margin-bottom: 200px;
}

.about-youtube-1{
    width: 560px;
    height: 325px;
    margin-top: 600px;
}

.about-youtube-2{
    width: 700px;
    height: 325px;
    margin-top: 3715px;
    margin-left: 140px;
}
.about-naver-map{
    margin-top: 150px;
}