.tips-container {
    width: 980px;
    margin: 10px auto;
    overflow: hidden;
}

.tips-header {
    width: 100%;
    height: 110px;
    position: relative;
    border: 1px solid #32B8A4;
}

.tips-header > .tips-bottom-left {
    left: 10px;
    bottom: 10px;
    position: absolute;
    font-size: 20px;
}

.tips-card-container {
    margin-top: 20px;
    margin-bottom: 20px;
}

.tips-card-container > a {
    color: black;
}

.tips-card-container > a:hover {
    color: black;
}

.tips-card-item {
    width: 315px;
    height: 210px;
    display: inline-block;
    margin: 36px 5px 0;
    position: relative;
    border: 2px solid white;
}

.tips-card-item:hover {
    border: 2px solid #32B8A4;
    cursor: pointer;
}

.tips-card-item-image-container {
    width: 311px; /* 315px = 311px + 2px*2 (border) */
    height: 150px;
    position: relative;
}

.tips-end {
    position: absolute;
    width: 100%;
    height: 150px;
    line-height: 150px;
    text-align: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.tips-card-item img {
    width: 311px; /* 315px = 311px + 2px*2 (border) */
    height: 150px;
}

.tips-card-item h5 {
    font-size: 15px;
    margin-top: 10px !important;
    margin-left: 20px;
    font-weight: bold;
}

.tips-card-item h6 {
    font-size: 13px;
    margin-top: 5px !important;
    margin-left: 20px;
}

.tips-card-item .tips-top-right {
    position: absolute;
    top: -25px;
    right: 10px;
    border: 1px solid #32B8A4;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
    vertical-align: middle;
    background-color: white;
    z-index: 10;
}

.tips-card-item .tips-bottom-right {
    right: 10px;
    bottom: 5px;
    position: absolute;
    font-size: 13px;
    color: #32B8A4;
}

.tips-more-button {
    width: 100%;
    height: 50px;
    margin-bottom: 20px;
    background: none;
}

.tips-bottom-left h5{
    font-weight: 900;
}

.tips-bottom-left h6{
    font-size: 12px;
    color: gray;
    height: 14px;
    width: 170px;
    overflow: hidden;
    text-overflow: ellipsis;
}