.product-card:not(:first-child) {
    margin-left: 10px;
}
.product-card:not(:last-child) {
    margin-right: 10px;
}

.product-card {
    display: inline-block;
    width: 180px;
    height: 250px;
    vertical-align: top;
}

.product-card img {
    width: 150px;
    height: 150px;
    object-fit: contain;
}

.product-rank {
    min-height: 10px;
    font-style: italic;
    font-weight: bold;
    color: #32B8A4;
    font-size: 20px;
    margin: 5px 0;
}

.product-low-rank {
    color: gray;
}

.product-meta {
    color: gray;
}

.product-header {
    margin-top: 3px;
    font-weight: bold;
}
