.carousel-inner img {
    width: 100%;
    
}

.slider{
    width: 100%;
    
    margin: 0 auto 0;
    float: left;
    position: relative;
    top: 9px;
    /* height: 100%; */
}

.slider .slider_inner{
    width: 100%;
    
    margin: 0 auto;
    float: left;
    position: relative;
    /* height: 100%; */
}