.carousel-inner img {
}

.slider{
    width: 100%;
    
    margin: 0 auto 0;
    float: left;
    position: relative;
    top: 9px;
}

.slider .slider_inner{
    width: 100%;
    
    margin: 0 auto;
    float: left;
    position: relative;
}