.navbar{
    width: 100%;
    margin: 0 auto;
    position: relative;
    right: 0;
    padding: 0px 20px;
    left: 0;
    height: 70px;
    bottom: 0;
}
.navbar .navbar_container{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    float: left;
}

.navbar-inner{
    width: 95px;
    height: 41px;
    margin: auto;
    float: left;
}
.navbar-inner img{
    width: 100%;
    margin: auto;
    float: left;
}

.navbar_router ul{
    margin: 0px 0px;
    position: relative;
    list-style: none;
    color: gray;
    display: inline-block;
}
.navbar_router ul li{
    display: inline-block;
    text-align: center;
    font-weight: 500;
    letter-spacing: 1.5px;
}

.navbar_left {
    float: left;
    font-size: 14px;
}

.navbar_right {
    float: right;
    width: 500px;
    height: 35px;
}


.navbar_router ul li a {
    text-decoration: none;
    color: gray;
}
.navbar_router .nav-item ul li a:hover, .navbar_router .nav-item ul li a:active, .navbar_router .nav-item ul li a:active{
    color: #32b8a4;
}

.nav-link:hover {
    color: #32B8A4;
}


.navbar_search{
    display: inline-block;
    width: 250px;
    margin-right: 0;
    position: relative;
    
}
.navbar_search input{
    width: 205px;
    margin: 0 auto;
    border-radius: 10px;
    border: none;
    padding: 7px;
    background-color: #E6E6E6;
    outline: 0;
    padding-left: 20px;
    box-sizing: border-box;
}

.navbar_search input::placeholder{
    color: #B3B3B3;
}

.navbar_search i{
    font-size: 20px;
    color: #32B8A4;
    padding-left: 10px;
}

.header-signup-and-login {
    width: 210px;
    height: 100%;
    float: right;
}

.header-signup-and-login li{
    float: right;
}
.header{
    border: 0px solid;
    padding: 10px;
    z-index: 1;
    box-shadow: 1px 21px 18px rgba(146, 146, 146, 0.2);
}

.profile-tab {
    width: 200px;
    height: 100%;
    padding-left: 20px;
    float: right;
    vertical-align: middle;
}

.header-user-profile {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: gray;
}

.header-user-nickname {
    width: 70px;
    height: 35px;
    font-size: 15px;
    color: black;
    
    
}
.header-user-alarm {
    width: 35px;
    height: 35px;
    float: right;
}

img#alarm {
    width: 100%;
    height: 100%;
}