.product{
    width: 100%;
    margin: 0 auto;
    padding: 30px 0;
    float: left;
}

.product_inner{
    width: 980px;
    margin: 0 auto;
    position: relative;
    
}
.product-menu{
    width: 100%;
    margin: 0 auto;
    padding: 15px 10px;
    position: relative;
}


.product-top-div{
    width: 80%;
    margin: 0 auto;
    float: top;
}

.product-content{
    width: 100%;
    margin-bottom: 15px;
}


.product-menu-div i{
    font-size: 20px;
    color: skyblue;
    display: inline-block;
    padding-right: 15px;
}

.product-menu-div h4{
    display: inline-block;
    color: gray;
    letter-spacing: 1px;
    font-weight: 500;
}

/*
ul.product_category{
    width: 60%; 
    margin: 0 auto;
    border: 1px solid;
    padding: 15px 30px;
    box-shadow: 5px 5px 16px 0 grey;
    display: table;
    width: 100%;
    height: 100%;
    background: red;
}*/


ul.product_category{
    width: 100%;
    margin: 0 auto;
    border-radius: 5px;
    vertical-align: middle;
    background-color: white;
    padding: 15px 30px;
    list-style: none none;
    text-align: center;
}

ul.product_category li {
    text-align: center;
    display: inline-block;
}

.prod_ctgy_inner{
    width: 100%;
    margin: 0 auto 5px;
    list-style: none;
}

/*ul.prod_ctgy_inner{
    width: 100%;
    margin: 0 auto;
    padding-left: 0;
    list-style: none;
    text-align: justify;
    margin-bottom: 12px;
}*/

.prod_ctgy_type{
    margin: 0 10px;
}

li.prod_ctgy_type a{
    display: block;
    color: gray;
    letter-spacing: 1px;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

li.prod_ctgy_type a:hover, li.prod_ctgy_type a:active, li.prod_ctgy_type a:focus{
    color: skyblue;
}


.prod-left-div{
    /* margin: 0 auto;
    float: left; */
    display: table;
    vertical-align: middle;
    width: 100%;
    text-align: center;
    /* position: absolute; */
    /* height: 100%; */
    top: 0;
    left: 0;
    z-index: 1;
}

.content-info{
    /* position: relative;
    right: 0;
    overflow: hidden;
    line-height: 25px; */
    /* border-top: 45px solid #3d4a6e; */
    /* padding-left: 60px;
    padding-top: 1%;
    height: 92%;
    display: table; */
    width: 100%;
    float: bottom;
    text-align: center;
    /* top: -205px; */
}


.content-info-below{
    width: 100%;
    margin: 0 auto;
    float: right;
}


.menu-button{
    text-align: center;
    margin: -85px auto 0;
}

.menu-button .circle-button{
    border-radius: 50%;
    display: inline-block;
    margin: 0 20px 0;
}

.menu-button .circle-button img{
    height: 80px;
    width: 80px;
    object-fit: contain;
}

.rightDiv{
    min-height: 251px;
}