.my-header-container{
    width: 100%;
    min-height: 600px;
}

.my-review-header{
    width: 100%;
    height: 45px;
    border-bottom: 1px solid gray;
}

.my-review-header-checkbox{
    width: 45px;
    height: 100%;
    display: inline-block;
    padding: 12px 15px;
}

.my-review-header-type{
    width: 120px;
    height: 100%;
    display: inline-block;
    vertical-align: top;
    padding: 10px 8px;
    font-size: 12px;
}


.my-review-header-type select{
    background: none;
    border: none;
    color: skyblue;
}

.my-review-header-type select:focus{
    border: none;
}

.my-review-header-name{
    width: 260px;
    height: 100%;
    display: inline-block;
    line-height: 45px;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    color: gray;
    padding-right: 40px;
}

.my-review-header-rate{
    width: 270px;
    height: 100%;
    display: inline-block;
    line-height: 45px;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    color: gray;
    padding-left: 40px;
}

.my-review-header-delete{
    width: 55px;
    height: 100%;
    display: inline-block;
    line-height: 45px;
    vertical-align: top;
    text-align: center;
    font-size: 12px;
    color: gray;
}

.my-review-card-box{
    width: 100%;
    min-height: 1000px;
}

.my-review-card{
    width: 100%;
    height: 160px;
    border-bottom: 1px solid gray;
}


.my-review-card-checkbox{
    width: 45px;
    height: 100px;
    display: inline-block;
    vertical-align: top;
    padding: 40px 15px;

}

.my-review-card-image{
    height: 100px;
    width: 80px;
    display: inline-block;
    vertical-align: top;
    padding: 15px 5px;
    margin-top: 15px;
}

.my-review-img{
    height: 70px;
    width: 70px;
}

.my-review-img-preview {
    width: 100%;
    height: 100%;
}
.my-review-card-title{
    height: 100px;
    width: 400px;
    display: inline-block;
    padding: 12px 25px;
}

.my-review-card-title p{
    color: gray;
    font-size: 11px;
    margin-bottom: 5px;
}

.my-review-card-title h5{
    font-size: 15px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.my-review-card-title h6{
    font-size: 11px;
    color: gray;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: underline;
}

.my-review-title span {
    display: inline-block;
    vertical-align: middle;
}

.my-review-title span:last-child {
    margin-left: 20px;
}

.my-review-title img {
    display: inline-block;
    width: 70px;
    height: 70px;
}

.my-review-title h6 {
    display: inline-block;
    color: rgba(0, 0, 0, 0.5);
}

.my-review-detail-container {
    margin-top: 40px;
}

.my-review-detail-header {
    border-bottom: 1px solid #7d7d7d;
    padding-bottom: 10px;
}

.my-review-detail-header-boundary {
    font-size:  1rem;
    color: rgba(0, 0, 0, 0.5);
    margin-left: 10px;
}

.my-review-detail-header-inline {
    display: inline;
}

.my-review-detail-header-inline.second-line {
    margin-left: 95px;
}

h6.my-review-detail-header-inline {
    font-size: 12px;
    margin-left: 10px;
    color: rgba(0, 0, 0, 0.5);
    line-height: 1.5;
}

.my-review-detail-content {
    margin-top: 20px;
}

.my-review-card-rate {
    width : 132px;
    margin-right: 0;
    display: inline-block;
}
.my-review-star {
    color: grey;
    font-size: 23px !important;
    margin-right: 5px;
}

.my-review-star.selected {
    color: #60b3a2;
}

.my-review-use-period-select {
    -webkit-appearance: button;
    -webkit-border-radius: 2px;
    -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1);
    -webkit-padding-end: 20px;
    -webkit-padding-start: 2px;
    -webkit-user-select: none;
    background-image: url(http://i62.tinypic.com/15xvbd5.png), -webkit-linear-gradient(#FAFAFA, #F4F4F4 40%, #E5E5E5);
    background-position: 97% center;
    background-repeat: no-repeat;
    border: 1px solid #AAA;
    color: #555;
    font-size: inherit;
    overflow: hidden;
    padding: 5px 10px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 215px;
    height: 40px;
}

.my-review-detail-bar {
    margin-top: 20px;
    margin-bottom: 20px;
}

.my-review-detail-bar-header {
    display: inline-block;
    width: 70px;
}

.my-review-detail-bar-line {
    height: 3px;
    width: 100px;
    margin-left: -1px;
}

.my-review-detail-bar-circle:not(.selected) + .my-review-detail-bar-line:not(.selected) {
    width: 107px;
}

.my-review-detail-bar-line.selected {
    height: 5px;
    width: 96px;
    z-index: 1;
}

.my-review-detail-bar-circle:first-child {
    margin-left: 10px;
}

.my-review-detail-bar-circle {
    height: 12px;
    width: 12px;
}

.my-review-detail-bar-circle:hover {
    cursor: pointer;
}

.my-review-detail-bar-circle.selected {
    height: 23px;
    width: 23px;
    z-index: 1;
}

.my-review-textarea {
    width: 100%;
    height: 500px;
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.my-review-upload-text {
    color: rgba(0, 0, 0, 0.5);
    display: inline-block;
    margin-left: 5px;
}

.my-review-upload-image-label {
    color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    padding: 5px;
    display: inline-block;
}

.my-review-upload-red-x {
    margin-left: 5px;
    margin-right: 5px;
    color: red;
}

.my-review-additional-review-container {
    border-collapse: collapse;
    border-radius: 10px;
    border-style: hidden;
    overflow: hidden;

    margin-bottom: 20px;
    margin-top: 20px;
}

.my-review-additional-review-container.success {
    border: 1px solid #32B8A4;
}

.my-review-additional-review-container.fail {
    border: 1px solid red;
}

.my-review-additional-review-content {
    padding-top: 10px;
    padding-bottom: 10px;
}

.my-review-additional-review-duration {
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
    color: white;
    text-align: center;
    width: 100px;
}

.my-review-additional-review-duration > span {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.my-review-additional-review-duration.success {
    background-image: linear-gradient(to right, rgba(50,200,164,1), rgba(50,200,164,0.3));
}

.my-review-additional-review-duration.fail {
    background-image: linear-gradient(to right, rgba(255, 0, 0, 1), rgba(255, 0, 0, 0.3));
}

.my-review-additional-review-detail {
    width: 600px;
}

.my-review-additional-review-icon {
    padding: 20px;
}

.my-review-file-invisible {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip:rect(0,0,0,0);
    border: 0;
}

.my-review-correct-button {
    height: 50px;
    width: 100%;
    margin-top: 100px;
    background: #32B8A4 !important;
    color: white !important;
}

.my-review-manage-buttons {
    display: inline-block;
    margin-left: 35px;
    height: 100px;
    padding-top: 30px;
}
.my-review-button {
    width: 54px;
    height: 22px;
    padding: 2px 0px;
    border: 1px solid #c6cbd1;
    border-radius: 6px;
    text-align: center;
    font-size: 10px;
    color: #c6cbd1;
    text-decoration: none;
    cursor: pointer;
}

.my-review-content {
    color: gray;
    margin-left: 50px;
    font-size: 10px;
    margin-top: 5px;
}

.my-review-button.add {
    cursor: default !important;
}

.my-review-button.add.available {
    background-color: orange !important;
    color: white !important;
    border: 0;
    cursor: pointer !important;
}

.additional-review-item {
    resize: none;
    width: 100%;
    height:100%;
    border: 0;
    padding-left: 10px;
}
.fas.fa-pen {
    cursor: pointer;
}