.profile-modify-password-check-container {
    text-align: center;
    margin-top: 80px;
}

.profile-modify-password-check-container > h5 {
    font-size: 15px;
}

.profile-modify-password-check-container > input {
    border: 0.7px solid;
    border-color: rgba(170, 170, 170, 0.5);
    font-size: 15px;
    width: 320px;
    height: 60px;
    padding: 10px;
    margin-top: 80px;
}

.profile-modify-password-check-container > button {
    font-size: 15px;
    width: 320px;
    height: 60px;
    margin-top: 20px;
    border: 0px;
    color: white;
    background-color: #32b8a4;
    margin-bottom: 10px;
}

.profile-modify-password-check-container > button:hover {
    cursor: pointer;
}
